# Dependencies
node_modules/
package-lock.json

# Environment
.env
.env.local
.env.*.local
.env.production
.env.production.local
.env.development
.env.development.local
.env.test
.env.test.local
*.env
!*.env.example
/moc-old-data/
# Build outputs
dist/
build/
.next/

# Logs

*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
.dockerignore

# Uploads
uploads/*
!uploads/.gitkeep

# Database
*.sqlite
*.db

# Misc
.cache/
temp/
tmp/

# Local large data
moc-old-data
moc-old-data/last_data_on_db.json
moc-old-data/users_with_courses_2025-12-23.json
