node_modules
npm-debug.log
dist
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
README.md
Dockerfile
Dockerfile.prod
.dockerignore
nginx.conf
docker-compose.yml
docker-compose.prod.yml
deploy-prod.sh
production.env
local.env
ssl/
uploads/
moc-old-data/
nginx/
frontend/
admin-panel/